.appContainer {
  display: "flex";
  flex: 1;
  flex-direction: column;
  height: 90vh;
}

.messageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 200px;
  text-align: center;
}