.appContainer {
  display: "flex";
  flex: 1;
  flex-direction: column;
  height: 90vh;
}

.messageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 200px;
  text-align: center;
}

.priceContainer {
  padding-left: 50px;
}

.refreshButtonContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  padding-top: 15px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: lightblue;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
